#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@font-face {
  font-family: 'firaaa';
  src:
    url(/ummmmm_fontss/fira_monooooo.ttf) format('truetype');
  font-display: swap;
}

main b {
  font-weight: 600;
  color: red;
}

button:focus {
    outline: none !important;
}

img { 
    pointer-events: none;
    unselectable: 'on';
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
